<div id="fullpage" class="text-center">
  <% @album.images.each do |image| %>
    <% src =  image.src.blank? ? image.pic_url : image.src %>
    <div class="section"><img src="<%= src %>"></div>
  <% end %>
  <div class="section">
    <h1><%= link_to 'Edit', edit_album_path(@album) %></h1> |
      <h1><%= link_to 'Back', user_albums_path(@album.user) %></h1>
  </div>
</div>

<div class="album arrow-wrapper animated fadeOutUp">
  <p class="arrow"></p>
</div>

