<div id="fullpage" class="text-center">
  <% @album.images.each do |image| %>
    <div class="section"><img src="<%= image.url %>"></div>
  <% end %>
</div>

<div class="album arrow-wrapper animated fadeOutUp">
  <p class="arrow"></p>
</div>

<div class="suscribe">
    <a href="http://mp.weixin.qq.com/s?__biz=MzAxOTQ4MDkyOA==&mid=209932994&idx=1&sn=a0f2a0e25c1bc34696ce8d4e79fea56b#rd">自己做相册</a>
</div>


<div class="music-icon play" id="music-icon"></div>
<audio id="audio" src="<%= @album.song.src %>" autoplay="autoplay" loop="loop">
  <h1>您的浏览器不支持 audio 标签。</h1>
</audio>
