$height: 80px;
.album {
  &.menus {
    z-index: 1;
    position: fixed;
    left: 0px;
    bottom: 3%;
    width: 100%;
    .menu {
      width: 25%;
      height: $height;
      float: left;
      position: relative;
      .btn {
        display: inline-block;
        width: $height;
        height: $height;
        line-height: $height;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        font-size: 25px;
        color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -50px;
      }
    }
  }
}
