$height: 80px;
$menus-z-index: 10;

.album {
  &.menus {
    z-index: $menus-z-index;
    position: fixed;
    left: 0px;
    bottom: 3%;
    width: 100%;
    .menu {
      width: 25%;
      height: $height;
      float: left;
      position: relative;
      .btn {
        display: inline-block;
        width: $height;
        height: $height;
        line-height: $height;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        font-size: 25px;
        color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -50px;
      }
    }
  }
  &.arrow-wrapper {
    z-index: $menus-z-index - 1;
    position: fixed;
    bottom: 4%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -39px;
    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -14px 0 0 -25px;
      width: 50px;
      height: 28px;
      // arrow sprite
      background-image: image-url("sprites.png")!important;
      background-position: 0 -82px;
      background-repeat: no-repeat!important;
    }
  }
}

#arrow-wrapper {
  -webkit-animation-duration: 2.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}
