@import "bourbon";

$height: 50px;
$menus-z-index: 10;

.album {
  &.menus {
    z-index: $menus-z-index;
    position: fixed;
    left: 0px;
    bottom: 3%;
    width: 100%;
    .menu {
      width: 25%;
      height: $height;
      float: left;
      position: relative;
      text-align: center;
      .btn {
        display: inline-block;
        width: $height;
        height: $height;
        line-height: $height;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        color: #fff;
        position: absolute;
        left: 50%;
        margin-left: -$height/2;
      }
    }
  }
  &.arrow-wrapper {
    z-index: $menus-z-index - 1;
    position: fixed;
    bottom: 6%;
    left: 50%;
    width: $height;
    height: $height;
    margin-left: -$height/2;
    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0 0 -25px;
      //arrow sprite
      width: 50px;
      height: 28px;
      background-image: image-url("sprites.png")!important;
      background-position: 0 -82px;
      background-repeat: no-repeat!important;
    }
    //custom animation
    @include animation-duration(2.5s);
    @include animation-delay(2s);
    @include animation-iteration-count(infinite);
  }
}

.select-layer{
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1px 5px 2px #444444;
  background-color: rgba(255,255,255,.9);

  @include transform(translateY(100%));
  @include transition-property(transform);
  @include transition-duration(0.3s);

  &.showSelect{
    height: 100%;
    @include transform(translateY(0));
  }
  .title-bar{
    background-color: #F94848;
    text-align: center;
    height:8%;
    position: relative;
    overflow: hidden;
    .title {
      color: #efebed;
    }
  }
  span.cancel {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5rem;
  }
  .listWrapper{
    width: 100%;
    height: 100%;
    overflow: scroll;
    .title {
      width: 100%;
      position: absolute;
    }
    .music .music-tab{
      position: relative;
      background-color: green;
      height: 40px;
      .li_style{
        line-height: 40px;
        list-style-type:none;
        .a-style{
          color: white;
        }
      }
    }
    .row {
      min-height: 48px;
      line-height: 48px;
      border-bottom:1px solid #DBDBDB;
    }
    .indicator {
      float: right;
    }
    .pick {
      float: right;
      margin: 0.5rem 0rem;
      padding: 0.4rem 0.6rem;
      font-size: 0.75rem;
      display: none;
      background-color: #F94848;
      color: #efebed;
    }
    .show {
      display: block;
    }
  }
  .playing {
    background-image: asset-url("loading-bars.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0px;
    width: 24px;
    height: 24px;
    float: left;
  }
  .loading {
    background-image: asset-url("loading-spinning-bubbles.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0px;
    width: 24px;
    height: 24px;
    float: left;
  }
}

.music-icon {
    background-image: url("/images/music-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10%;
    width: 10%;
    position: fixed;
    right: 20px;
    top: 20px;
}

@-webkit-keyframes RotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(360deg);}
}
.play {
  -webkit-animation: RotataZ 4s linear infinite;
}

.delPhotos{
  position:relative;

}
.delPhoto{
  display:block;
  position:absolute;
  top:-5px;
  right:-5px;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  color:white;
  background-color:red;
  border-radius:50%;
  font-size:1.2rem;
}

.delPhoto a:visited{
  color:white;
}

.publish{
  left:30%;
  top:150px;
  font-size: 1.0rem;
}

.title-content{
  display: block;
  position: relative;
  height: 100px;
  width: 80%;
  top: 130px;
  left: 10%;
}

.title-lead{
  display: block;
  position: relative;
  top: 120px;
  left: 10%;
  font-size: 1.0rem;
  color:gray;
}



/*------------------------*/

.my-album {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
} 

/* The line */
.my-album:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #afdcf8;
  left: 1.5rem;
}

.my-album > li {
  position: relative;
  /* Right content */
  .right-content{
    margin: 0 20px 15px 20%;
    .photo-container {
      margin: 5px 0 5px 0;
      position: relative;
      .photo-cover{
        background-size: cover;
        width: 100%;
        height: 100px;
        border-radius: 10px;
        border: 3px solid black;
        box-shadow: 0 0 10px black;
      }
    }
    /*相片左边的小三角形 */
    .photo-container:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: black;
      border-width: 8px;
      top: 25%;
    }
    .album-desc{
      margin: 0 0 5px 0; 
      position: relative; 
      border-radius: 10px;
      border: 1px solid #996600;
      color: #996600;
      font-size: 0.8rem;
      text-align: center;
    }
    .album-manage{
      text-align: center;
      .edit-album{
        left: -10%;
        font-size: 0.8rem;
        border-radius: 8px;
        color: white;
      }
      .delete-album{
        right: -10%;
        font-size: 0.8rem;
        border-radius: 8px;
        color: white;
      }
    }
  }

}

/* 时间轴上的圆圈 */
.my-album > li .time-circle {
  position: absolute;
  width: 3rem;
  height: 3rem; 
  text-align: center;
  background: #afdcf8;
  border-radius: 50%;
  top: 18%;

  .album-date{
    color: black;
    height: 8px;
    padding-top: 5px;
  }

  .album-year{
    color: white;
    position: absolute;
    top: 24px;
    left: 22%;
  }
}

.suscribe{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: fixed;
  bottom: 1%;
  left: 50%;
  margin-left: -50px;
  font-size: 1.0rem;
  background-color: rgb(0, 200, 0);
  color: white;
  box-shadow: 0 0 5px white;
  border-radius: 5px;
  a{
    color: white;
  }
  a:visited{
    color: white;
  }

}
