<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1><%= link_to '主页', root_path %></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <div class="top-bar-section">
      <ul>
        <li><%= link_to '用户', users_path %></li>
        <li><%= link_to '关于', page_path('about') %></li>
      </ul>
    </div>
  </nav>
</div>
